{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to The Hood</h1>
    <p class="lead">See what's happening in your hood,create posts and view businessses in your area.</p>
  </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Top Local Stories</h5>
        <p class="card-text">Create posts on local content that's important to you.</p>
        <a href="{% url 'newpost' %}" class="btn btn-success">Create new post</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Discover Local Business</h5>
        <p class="card-text">You can also add your own business to get discovered by the community.</p>
        <a href="{% url 'create_business' %}" class="btn btn-success">Add your business</a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md6">
        {% for business in businesses %}
        <h1>{{business.name}}</h1>
        {% endfor %}
    </div>

  </div>
  <div class="row">

  </div>
</div>
{% endblock %}